* {
	box-sizing: border-box;
	text-align: left;
}

body {
	background-image: 
		url(../images/ep_naturalwhite.png);
}

header {
	padding: 
	margin-bottom: 20px;
	border-color: #cccccc
	
}
 section {
	
 }
 #bodybox {
 	float: left;
 	width: 600px;
 	height: 500px;
 	padding-top: 10px;
 	margin-bottom: 10px;
 	background-color: white;
 }

#bar {
	background-color: #4aaaa5;
	font-family: Georgia;
	color: white;
}

#heading {
	font-family: Georgia;
	color: #4aaaa5;

}

 #paragraph {
 	font-family: Arial;
 	color: #777777

 }
 #navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

 footer {
 	font-family: sans-serif;
 	text-align: center;
 	color: white;
 	background-color: #666666;
 	padding: 20px;
 	margin-bottom: 20px;
 }